@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inherits LayoutComponentBase

@if (id != 0)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4">
                <a href="/logout" target="_blank">Logout</a>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}

else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4">
                <a href="/login" target="_blank">Login</a>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}


@code{
    int id;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (!firstRender)
        //{
        id = await sessionStorage.GetItemAsync<int>("user");
        StateHasChanged();
        //}
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    id = await sessionStorage.GetItemAsync<int>("user");
    //}
}